<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Product Edit Form</h2>
    <form action="/products/<%= product._id %>/save" method="POST">
        <P><input type="name" name="name" value="<%= product.name %>"></P>
        <P><input type="number" name="price"value="<%= product.price %>"></P>
        <P><input type="name"  name="imageUrl"value="<%= product.imageUrl %>"></P>
        <P><input type="text" name="desc"value="<%= product.desc %>"></P>
        <button  >Save</button>
    </form>
</body>
</html>